<div class="card">
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="New"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openNew()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="doctors"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name', 'specialization', 'availability']"
    [tableStyle]="{ 'min-width': '60rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
    [responsiveLayout]="'scroll'"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex flex-column md:flex-row align-items-center justify-content-between"
      >
        <h5 class="m-0 mb-2 md:mb-0">Manage Doctors</h5>
        <span class="p-input-icon-left w-full md:w-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..."
            class="w-full"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="min-width: 15rem">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="specialization">
          Specialization <p-sortIcon field="specialization"></p-sortIcon>
        </th>
        <th pSortableColumn="availability">
          Availability <p-sortIcon field="availability"></p-sortIcon>
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-doctor>
      <tr>
        <td>{{ doctor.name }}</td>
        <td>{{ doctor.specialization }}</td>
        <td>
          <span
            [class]="
              'product-badge status-' +
              (doctor.availability
                ? doctor.availability.toLowerCase().replace(' ', '-')
                : '')
            "
            [ngClass]="{
              'p-tag p-tag-success': doctor.availability === 'Available',
              'p-tag p-tag-warning': doctor.availability === 'On Leave',
            }"
            >{{ doctor.availability }}</span
          >
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="editDoctor(doctor)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteDoctor(doctor)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ doctors ? doctors.length : 0 }} doctors.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="doctorDialog"
  [style]="{ width: '450px' }"
  header="Doctor Details"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="name">Name</label>
      <input
        type="text"
        pInputText
        id="name"
        [(ngModel)]="doctor.name"
        required
        autofocus
      />
      <small class="p-error" *ngIf="!doctor.name">Name is required.</small>
    </div>
    <div class="field">
      <label for="specialization">Specialization</label>
      <input
        type="text"
        pInputText
        id="specialization"
        [(ngModel)]="doctor.specialization"
        required
      />
    </div>

    <div class="field">
      <label class="mb-3">Availability</label>
      <div class="formgrid grid">
        <div class="field-radiobutton col-6">
          <p-radioButton
            id="category1"
            name="availability"
            value="Available"
            [(ngModel)]="doctor.availability"
          ></p-radioButton>
          <label for="category1">Available</label>
        </div>
        <div class="field-radiobutton col-6">
          <p-radioButton
            id="category2"
            name="availability"
            value="On Leave"
            [(ngModel)]="doctor.availability"
          ></p-radioButton>
          <label for="category2">On Leave</label>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="hideDialog()"
    ></button>
    <button
      pButton
      pRipple
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="saveDoctor()"
    ></button>
  </ng-template>
</p-dialog>
