<div class="card">
  <h5>My Schedule</h5>
  <p-table
    [value]="appointments"
    [responsiveLayout]="'scroll'"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Patient</th>
        <th>Age/Gender</th>
        <th>Time</th>
        <th>Type</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appt>
      <tr>
        <td>
          <span class="font-bold">{{ appt.patientName }}</span>
        </td>
        <td>{{ appt.age }} / {{ appt.gender }}</td>
        <td>{{ appt.time }}</td>
        <td>{{ appt.type }}</td>
        <td>
          <p-tag
            [value]="appt.status"
            [severity]="getSeverity(appt.status)"
          ></p-tag>
        </td>
        <td>
          <button
            pButton
            label="Start Consultation"
            icon="pi pi-play"
            class="p-button-sm"
            [routerLink]="['/doctor/consultation', appt.id]"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
