<app-page-header
  title="Admissions"
  subtitle="Manage inpatient admissions"
  icon="file"
></app-page-header>

<app-card>
  <div class="flex justify-content-end mb-3">
    <button
      pButton
      label="New Admission"
      icon="pi pi-plus"
      routerLink="../admit"
    ></button>
  </div>
  <app-table
    [data]="data"
    [columns]="cols"
    [rows]="10"
    [paginator]="true"
    [showSearch]="true"
    [loading]="loading"
    [actionsTemplate]="actions"
    styleClass="p-datatable-sm"
  ></app-table>
</app-card>

<ng-template #actions let-admission>
  <button
    pButton
    icon="pi pi-sign-out"
    class="p-button-danger p-button-rounded p-button-sm"
    [routerLink]="['/ipd/discharge', admission.id]"
    pTooltip="Discharge Patient"
    *ngIf="admission.status === 'ADMITTED'"
  ></button>
</ng-template>
