<div class="card">
  <app-page-header
    title="Edit Appointment"
    icon="pi pi-file-edit"
    [showBack]="true"
  ></app-page-header>
  <div class="p-fluid grid formgrid">
    <div class="field col-12 md:col-6">
      <label htmlFor="patient">Patient Name</label>
      <input
        pInputText
        id="patient"
        type="text"
        [(ngModel)]="appointment.patientName"
      />
    </div>
    <div class="field col-12 md:col-6">
      <label htmlFor="doctor">Doctor</label>
      <input
        pInputText
        id="doctor"
        type="text"
        [(ngModel)]="appointment.doctorName"
      />
    </div>
    <div class="field col-12 md:col-6">
      <label htmlFor="date">Date</label>
      <input pInputText id="date" type="date" [(ngModel)]="appointment.date" />
    </div>
    <div class="field col-12 md:col-6">
      <label htmlFor="time">Time</label>
      <input pInputText id="time" type="time" [(ngModel)]="appointment.time" />
    </div>
  </div>
  <div class="flex justify-content-end mt-4">
    <button
      pButton
      label="Save Changes"
      icon="pi pi-check"
      class="w-auto p-button-success"
    ></button>
  </div>
</div>
