<app-card styleClass="p-0 border-none shadow-none">
  <app-page-header title="System Users" icon="pi pi-users">
    <ng-container *appHasPermission="permissions.CMP_ADMIN_USER_WRITE">
      <button
        pButton
        label="Add User"
        icon="pi pi-plus"
        aria-label="Add User"
        (click)="openNew('Create User')"
      ></button>
    </ng-container>
  </app-page-header>

  <app-table
    [data]="data"
    [columns]="cols"
    [globalFilterFields]="['username', 'role']"
    [actionsTemplate]="actions"
  >
  </app-table>

  <ng-template #roleTemplate let-value>
    <app-status-badge [status]="value" type="info"></app-status-badge>
  </ng-template>

  <ng-template #actions let-user>
    <ng-container *appHasPermission="permissions.CMP_ADMIN_USER_WRITE">
      <button
        pButton
        icon="pi pi-pencil"
        aria-label="Edit User"
        class="p-button-rounded p-button-text p-button-warning"
        (click)="editItem(user, 'Edit User')"
      ></button>
    </ng-container>
  </ng-template>

  <p-dialog
    [(visible)]="displayDialog"
    [header]="dialogHeader"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <app-user-create
      [userToEdit]="selectedItem"
      (save)="onSave($event)"
      (cancel)="hideDialog()"
    >
    </app-user-create>
  </p-dialog>
</app-card>
