<div class="card">
  <app-page-header
    title="Book Appointment"
    icon="pi pi-calendar-plus"
    [showBack]="true"
  ></app-page-header>
  <div class="p-fluid grid formgrid">
    <div class="field col-12 md:col-6">
      <label htmlFor="patient">Patient Name</label>
      <input pInputText id="patient" type="text" />
    </div>
    <div class="field col-12 md:col-6">
      <label htmlFor="doctor">Doctor</label>
      <input pInputText id="doctor" type="text" />
    </div>
    <div class="field col-12 md:col-6">
      <label htmlFor="date">Date</label>
      <input pInputText id="date" type="date" />
    </div>
    <div class="field col-12 md:col-6">
      <label htmlFor="time">Time</label>
      <input pInputText id="time" type="time" />
    </div>
  </div>
  <div class="flex justify-content-end mt-4">
    <button pButton label="Book Now" icon="pi pi-check" class="w-auto"></button>
  </div>
</div>
