<div class="card">
  <app-page-header title="Lab Requests" icon="pi pi-search"> </app-page-header>

  <div class="flex justify-content-end mb-3">
    <button
      pButton
      label="New Request"
      icon="pi pi-plus"
      routerLink="request"
    ></button>
  </div>

  <app-table
    [data]="requests"
    [columns]="cols"
    [globalFilterFields]="['patientName', 'testName', 'doctorName', 'id']"
    [actionsTemplate]="actions"
  >
  </app-table>
</div>

<ng-template #dateTemplate let-value>
  {{ value | date: 'short' }}
</ng-template>

<ng-template #priorityTemplate let-value>
  <app-status-badge
    [status]="value"
    [type]="
      value === 'EMERGENCY' ? 'danger' : value === 'URGENT' ? 'warning' : 'info'
    "
  >
  </app-status-badge>
</ng-template>

<ng-template #statusTemplate let-value>
  <app-status-badge
    [status]="value"
    [type]="
      value === 'COMPLETED'
        ? 'success'
        : value === 'IN_PROGRESS'
          ? 'warning'
          : 'info'
    "
  >
  </app-status-badge>
</ng-template>

<ng-template #actions let-request>
  <ng-container *appHasPermission="permissions.CMP_LAB_ENTRY">
    <button
      *ngIf="request.status !== 'COMPLETED'"
      pButton
      icon="pi pi-pencil"
      class="p-button-rounded p-button-success mr-2"
      (click)="enterResults(request.id)"
      pTooltip="Enter Results"
      tooltipPosition="top"
    ></button>
  </ng-container>
  <ng-container *appHasPermission="permissions.CMP_LAB_READ">
    <button
      *ngIf="request.status === 'COMPLETED'"
      pButton
      icon="pi pi-eye"
      class="p-button-rounded p-button-info"
      (click)="viewReport(request.id)"
      pTooltip="View Report"
      tooltipPosition="top"
    ></button>
  </ng-container>
</ng-template>
