<div class="card p-0">
  <app-page-header title="Patients" icon="pi pi-users">
    <button
      *appHasPermission="permissions.CMP_PATIENT_ADD"
      pButton
      pRipple
      icon="pi pi-plus"
      class="p-button-primary"
      (click)="openNew('New Patient')"
      pTooltip="Register a new patient"
      tooltipPosition="bottom"
    >
      New Patient
    </button>
  </app-page-header>

  <app-table [data]="data" [columns]="cols" [actionsTemplate]="actions">
  </app-table>
</div>

<ng-template #genderTemplate let-value>
  <app-status-badge
    [status]="value"
    [type]="value === 'Male' ? 'info' : 'warning'"
  >
    <!-- Using info/warning map for Male/Female just for distinct colors -->
  </app-status-badge>
</ng-template>

<ng-template #actions let-patient>
  <div class="flex justify-content-center">
    <!-- Using div wrapper for alignment if needed -->
    <!-- eslint-disable @angular-eslint/template/elements-content -->
    <button
      *appHasPermission="permissions.CMP_PATIENT_VIEW"
      pButton
      pRipple
      icon="pi pi-eye"
      class="p-button-rounded p-button-text p-button-info mr-2"
      [routerLink]="[patient.id]"
      pTooltip="View Details"
      tooltipPosition="top"
    ></button>
    <button
      *appHasPermission="permissions.CMP_PATIENT_EDIT"
      pButton
      pRipple
      icon="pi pi-pencil"
      class="p-button-rounded p-button-text p-button-warning"
      (click)="editItem(patient, 'Edit Record')"
      pTooltip="Edit Record"
      tooltipPosition="top"
    ></button>
    <!-- eslint-enable @angular-eslint/template/elements-content -->
  </div>
</ng-template>

<p-dialog
  [(visible)]="displayDialog"
  [style]="{ width: '600px' }"
  [header]="dialogHeader"
  [modal]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <app-patient-register
      *ngIf="displayDialog"
      [isModal]="true"
      [patientData]="selectedItem"
      (onSave)="onSave($event)"
      (onCancel)="hideDialog()"
    ></app-patient-register>
  </ng-template>
</p-dialog>
