// Responsive sidebar visibility
@media screen and (max-width: 991px) {
  .layout-sidebar {
    transform: translateX(-100%);
    left: 0;
    top: 0;
  }

  .layout-sidebar.flex {
    transform: translateX(0);
  }

  .layout-main {
    margin-left: 0 !important;
  }
}

@media screen and (min-width: 992px) {
  .layout-sidebar {
    transform: translateX(0);
    display: flex !important;
  }
}
