<app-card>
  <app-page-header title="Departments" icon="pi pi-building">
    <button
      pButton
      label="Add Department"
      icon="pi pi-plus"
      aria-label="Add Department"
      (click)="openNew('Create Department')"
      *appHasPermission="permissions.CMP_ADMIN_DEPT_WRITE"
    ></button>
  </app-page-header>

  <app-table
    [data]="data"
    [columns]="cols"
    [globalFilterFields]="['name', 'head']"
    [actionsTemplate]="actions"
  >
  </app-table>

  <ng-template #actions let-dept>
    <ng-container *appHasPermission="permissions.CMP_ADMIN_DEPT_WRITE">
      <button
        pButton
        icon="pi pi-pencil"
        aria-label="Edit Department"
        class="p-button-rounded p-button-text p-button-warning mr-2"
        (click)="editItem(dept, 'Edit Department')"
        pTooltip="Edit"
      ></button>
      <button
        pButton
        icon="pi pi-trash"
        aria-label="Delete Department"
        class="p-button-rounded p-button-text p-button-danger"
        (click)="confirmDelete(dept)"
        pTooltip="Delete"
      ></button>
    </ng-container>
  </ng-template>

  <app-confirm-dialog
    [(isOpen)]="isConfirmOpen"
    title="Delete Department"
    message="Are you sure you want to delete this department?"
    (confirm)="onConfirmDelete()"
    (cancel)="cancelDelete()"
  ></app-confirm-dialog>

  <p-dialog
    [(visible)]="displayDialog"
    [header]="dialogHeader"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <app-department-create
      [deptToEdit]="selectedItem"
      (save)="onSave($event)"
      (cancel)="hideDialog()"
    >
    </app-department-create>
  </p-dialog>
</app-card>
