<div
  class="flex flex-column align-items-center justify-content-center min-h-screen surface-ground"
>
  <div class="surface-card p-5 shadow-2 border-round w-full lg:w-4 text-center">
    <div class="flex justify-content-center mb-4">
      <div
        class="bg-red-50 border-circle flex align-items-center justify-content-center"
        style="width: 100px; height: 100px"
      >
        <i class="pi pi-exclamation-triangle text-red-500 text-6xl"></i>
      </div>
    </div>
    <div class="text-900 text-4xl font-bold mb-2">Server Error</div>
    <div class="text-600 font-medium mb-5 line-height-3">
      Something went wrong on our side. Please try again later.
    </div>
    <button
      pButton
      pRipple
      icon="pi pi-refresh"
      class="p-button-danger"
      routerLink="/"
    >
      Retry / Home
    </button>
  </div>
</div>
