.custom-user-table {
  .p-datatable-tbody > tr > td {
    padding: 1.25rem 1rem !important;
    border-color: #f1f5f9;
  }

  .p-dropdown {
    transition: all 0.2s;
    &:hover {
      border-color: #6366f1 !important;
      background: #f5f3ff;
    }
  }
}

/* Make the switch look more "Premium" */
::ng-deep .custom-switch.p-inputswitch {
    width: 2.5rem;
    height: 1.25rem;
    
    .p-inputswitch-slider {
        background: #e2e8f0;
        &:before {
            width: 0.85rem;
            height: 0.85rem;
            left: 0.2rem;
            margin-top: -0.425rem;
        }
    }
    
    &.p-inputswitch-checked .p-inputswitch-slider {
        background: #6366f1;
        &:before {
            transform: translateX(1.25rem);
        }
    }
}

.p-button-indigo {
    color: #4f46e5;
    border: 1px solid #4f46e5;
    &:hover {
        background: #f5f3ff !important;
        border-color: #4338ca !important;
        color: #4338ca !important;
    }
}