<div class="card">
  <p-table
    #dt
    [value]="users"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['username', 'role', 'status']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Users</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">
          Username <p-sortIcon field="username"></p-sortIcon>
        </th>
        <th pSortableColumn="role">
          Role <p-sortIcon field="role"></p-sortIcon>
        </th>
        <th pSortableColumn="status">
          Status <p-sortIcon field="status"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <span class="p-column-title">Username</span>
          {{ user.username }}
        </td>
        <td>
          <span class="p-column-title">Role</span>
          <p-dropdown
            [options]="roles"
            [(ngModel)]="user.role"
            (onChange)="onRoleChange(user)"
            appendTo="body"
          ></p-dropdown>
        </td>
        <td>
          <span class="p-column-title">Status</span>
          <p-inputSwitch
            [(ngModel)]="userStatusHelper[user.id]"
            (onChange)="onStatusMapChange(user, $event)"
          ></p-inputSwitch>
          <span class="ml-2">{{ user.status }}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{ users ? users.length : 0 }} users.
      </div>
    </ng-template>
  </p-table>
</div>
