<div
  class="flex flex-column align-items-center justify-content-center min-h-screen surface-ground"
>
  <div class="surface-card p-5 shadow-2 border-round w-full lg:w-4 text-center">
    <div class="flex justify-content-center mb-4">
      <div
        class="border-circle flex align-items-center justify-content-center"
        style="
          width: 100px;
          height: 100px;
          background: var(--hms-primary-light);
        "
      >
        <i class="pi pi-compass text-6xl" style="color: var(--hms-primary)"></i>
      </div>
    </div>
    <div class="text-900 text-4xl font-bold mb-2">Page Not Found</div>
    <div class="text-600 font-medium mb-5 line-height-3">
      The resource you are looking for does not exist or has been moved.
    </div>
    <button
      pButton
      pRipple
      icon="pi pi-home"
      class="p-button-primary p-button-raised w-full"
      routerLink="/"
    >
      Go Home
    </button>
  </div>
</div>
