<app-card>
  <app-page-header title="Billing & Invoices" icon="pi pi-wallet">
    <button
      pButton
      label="New Invoice"
      icon="pi pi-plus"
      (click)="createInvoice()"
      *appHasPermission="permissions.CMP_INVOICE_GENERATE"
    ></button>
  </app-page-header>

  <app-table [data]="invoices" [columns]="cols" [actionsTemplate]="actions">
  </app-table>
</app-card>

<ng-template #dateTemplate let-value>
  {{ value | date: 'shortDate' }}
</ng-template>

<ng-template #amountTemplate let-value>
  {{ value | currency }}
</ng-template>

<ng-template #statusTemplate let-value>
  <app-status-badge
    [status]="value"
    [type]="
      value === InvoiceStatus.PAID
        ? 'success'
        : value === InvoiceStatus.ISSUED
          ? 'info'
          : value === InvoiceStatus.PARTIALLY_PAID
            ? 'warning'
            : 'error'
    "
  >
  </app-status-badge>
</ng-template>

<ng-template #actions let-invoice>
  <ng-container *appHasPermission="permissions.CMP_PAYMENT_RECEIPT">
    <button
      *ngIf="
        invoice.status === InvoiceStatus.PAID ||
        invoice.status === InvoiceStatus.PARTIALLY_PAID
      "
      pButton
      icon="pi pi-print"
      class="p-button-rounded p-button-secondary p-button-text"
      (click)="viewReceipt(invoice.id)"
      pTooltip="View Receipt"
      tooltipPosition="top"
    ></button>
  </ng-container>
  <ng-container *appHasPermission="permissions.CMP_INVOICE_GENERATE">
    <button
      *ngIf="
        invoice.status === InvoiceStatus.ISSUED ||
        invoice.status === InvoiceStatus.PARTIALLY_PAID ||
        invoice.status === InvoiceStatus.DRAFT
      "
      pButton
      icon="pi pi-check-circle"
      class="p-button-rounded p-button-success p-button-text"
      (click)="viewReceipt(invoice.id)"
      label="Pay"
      pTooltip="Record Payment"
      tooltipPosition="top"
    ></button>
  </ng-container>
</ng-template>
