:host {
    display: block;
}

.login-bg {
    background-color: #ecfdf5; // Plain light emerald background
}

/* Ensure the card has a nice pop */
.surface-card {
    background: #ffffff;
}

/* Custom styling for the icon container if utility classes fail */
.text-center > .border-circle {
    background-color: #d1fae5 !important; // emerald-100
    color: #047857 !important; // emerald-700
}

:host ::ng-deep {
    .p-inputtext {
        &:enabled:focus {
            border-color: #10b981;
            box-shadow: 0 0 0 1px #10b981;
        }
    }
    
    .p-button {
        background-color: #10b981;
        border-color: #10b981;
        
        &:enabled:hover {
            background-color: #059669 !important;
            border-color: #059669 !important;
        }
        
        &:focus {
            box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #10b981, 0 1px 2px 0 black;
        }
    }
    
    .p-checkbox .p-checkbox-box.p-highlight {
        border-color: #10b981;
        background: #10b981;
    }
    
    a {
        text-decoration: none;
        color: #10b981; // match primary
        
        &:hover {
            color: #059669;
        }
    }
}
