@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.scss";
@import "primeicons/primeicons.css";

body {
    background-color: var(--surface-ground);
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.p-component {
    font-family: 'Inter', sans-serif;
}

/* Global Card Tweaks */
.p-card {
    border-radius: 12px;
}

