<div class="card p-fluid">
  <h5>Quick Patient Registration</h5>
  <p>Register a new patient to the system.</p>

  <div class="grid formgrid">
    <div class="col-12 md:col-6 field">
      <label for="firstname">First Name</label>
      <input
        pInputText
        id="firstname"
        type="text"
        [(ngModel)]="patient.firstName"
      />
    </div>
    <div class="col-12 md:col-6 field">
      <label for="lastname">Last Name</label>
      <input
        pInputText
        id="lastname"
        type="text"
        [(ngModel)]="patient.lastName"
      />
    </div>

    <div class="col-12 md:col-4 field">
      <label for="age">Age</label>
      <input pInputText id="age" type="number" [(ngModel)]="patient.age" />
    </div>
    <div class="col-12 md:col-4 field">
      <label for="gender">Gender</label>
      <p-dropdown
        [options]="genders"
        [(ngModel)]="patient.gender"
        id="gender"
        [autoDisplayFirst]="true"
      ></p-dropdown>
    </div>
    <div class="col-12 md:col-4 field">
      <label for="contact">Contact Number</label>
      <input pInputText id="contact" type="tel" [(ngModel)]="patient.contact" />
    </div>

    <div class="col-12 field">
      <label for="address">Address</label>
      <textarea
        rows="3"
        pInputTextarea
        id="address"
        [(ngModel)]="patient.address"
        autoResize="autoResize"
      ></textarea>
    </div>

    <div class="col-12 flex justify-content-end mt-3">
      <button
        pButton
        label="Register Patient"
        icon="pi pi-check"
        class="w-auto"
        (click)="register()"
      ></button>
    </div>
  </div>
</div>
